@use '../base/custom' as *;

body {

    .main-video {
        position: fixed;

        min-height: 100%;
        min-width: 100%;

        top: 50%;
        left: 50%;

        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
    }
}
.bg-header {
    background: linear-gradient(0deg, rgba(255,4,60,0) 0%, darken($primary, 40%) 40%);
}

.bg-footer {
    background: linear-gradient(180deg, rgba(255,4,60,0) 0%, darken($primary, 40%) 40%);
}


