@use '../base/custom' as *;
@use '../base/globals' as *;

body {

    background-color: $dark;
    animation: transitionIn 3.5s;
}

@keyframes transitionIn {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;

    }
}
