@use '../base/custom' as *;


.bg-interns {
    background-color: darken($color: $primary, $amount: 48%);
}
.page-description {
    p {
        padding: 0rem 2rem;
        margin: 0;
        &::before {
            content: ' ';
            background-image: url(../img/caret-right.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 5rem;
            height: 5rem;
        }
    }
}
.work-container {
    
    h2 {
        color: $light;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.6rem;
        text-align: start;
        &.work-heading-a {
            border-bottom: 0.2rem outset $light;
            border-left: 0.2rem inset $info;
        }
        &.work-heading-b {
            border-bottom: 0.2rem outset $light;
            border-right: 0.2rem inset $info;
        }

    }
    p {
        color: $light;
        text-transform: uppercase;
        font-weight: bold;
    }
}
.work {
    max-width: 95%;
    height: 15rem;
    margin: 0 auto;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include media-breakpoint-up(sm) {
        height: 24rem;
    }

    video {
        width: 100%;
        height: auto;
        position: absolute;  
        margin: 0 auto;
    }
   
    img {
        position: relative;
        color: #262626;
        transition: .5s;
        z-index: 3;
    }
    &:hover {
        color: #fff;

        &::before {
            bottom: 0;
        }
      }
    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: $light;
        transition: .5s;
        opacity: 0.2;
        z-index: 2;
        cursor: pointer;
      }   
}











    /*
    img {
        max-height: 30rem;
    }
      
    &-effect {
        position: relative; 
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        line-height: 63px;
        font-size: 30px;
        color: #666;
        transition: .5s;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $info;
            transition: .5s;
            transform: scale(.9);
            z-index: -1;
        }
        &:hover {
            color: $info;
            box-shadow: 0 0 1rem $info;
            text-shadow: 0 0 1rem $info;
            &::before {
                transform: scale(1.1);
                box-shadow: 0 0 11rem $info;
            }
        }


    }
  
    }
        

*/