@use '../base/custom' as *;


.bg-interns {
    background-color: darken($color: $primary, $amount: 48%);
}
.page-description {
    p {
        padding: 0rem 2rem;
        margin: 0;
        &::before {
            content: ' ';
            background-image: url(../img/caret-right.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 5rem;
        }
    }
}
.work-container {
    
    h2 {
        color: $light;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.6rem;
        border-bottom: 0.2rem solid $light;
        border-left: 0.2rem solid $info;
        text-align: start;

       
 
       

    }
    p {
        color: $light;
        text-transform: uppercase;
        font-weight: bold;
    }
}
.work {
    max-width: 100%;
    height: 20rem;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 80px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:nth-child(1) {
        background-image: url(../img/XIAOMIK6-4.jpg);
    }
    &:nth-child(2) {
        background-image: url(../img/RINGTONE3.jpg);
    }
    &:nth-child(3) {
        background-image: url(../img/XIAOMIK6-4.jpg);
    }
    &:nth-child(4) {
        background-image: url(../img/RINGTONE3.jpg);
    }
   
    img {
        position: relative;
        color: #262626;
        transition: .5s;
        z-index: 3;
    }
    &:hover {
        color: #fff;

        &::before {
            bottom: 0;
        }
      }
    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary;
        transition: .5s;
        opacity: 0.6;
        z-index: 2;
        cursor: pointer;
        
      }
    
}











    /*
    img {
        max-height: 30rem;
    }
      
    &-effect {
        position: relative; 
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        line-height: 63px;
        font-size: 30px;
        color: #666;
        transition: .5s;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $info;
            transition: .5s;
            transform: scale(.9);
            z-index: -1;
        }
        &:hover {
            color: $info;
            box-shadow: 0 0 1rem $info;
            text-shadow: 0 0 1rem $info;
            &::before {
                transform: scale(1.1);
                box-shadow: 0 0 11rem $info;
            }
        }


    }
  
    }
        

*/