@use '../base/custom' as *;

.text-play {
    background-color: $dark;
    padding: 1rem 0;
    p {
        color: $primary;
        letter-spacing: .2rem;
        font-family: $fuenteSecundaria;
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }
    }

}


.text-play-hover {

    &:hover {
        color: $light;
        background: linear-gradient(-45deg, #da2e21, #dfd002, #2352d5);
        background-size: 400% 400%;
        animation: intro 6s ease-in-out infinite;
    }
    
}
@keyframes intro {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}




